@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@800&family=Inconsolata&display=swap');
/* gerenal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color:#1e1e1e;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1, h2, h3 {
  font-family: 'baloo da 2';
}

h2 {
  font-size: 1.6rem;
}

p{
  font-family: 'Inconsolata';
  font-size: 1.2rem;
}

/* placards*/

.placard {
  background-image: linear-gradient(to right, #311fdc 0%, #3213cf 25%, #3310aa 50%, #300881 100%);
  width: 100%;
  height: 3.1rem;
  color: #ffffff;
  font-family: 'baloo da 2';
  color: #ffffff;
  font-size: 1.4rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  word-spacing: 10px;
}

.padding10 {
  padding-left: 10%;
  padding-right: 10%;
}

.border-gradient {
  border-bottom: 0.14rem solid;
  border-image: linear-gradient(90deg, #311fdc, #300881) 1;
}

.lime-gradient {
  background-image: linear-gradient(to right, #d3ff55 0%, #57ff2a 100%);
  width: 100%;
}

.shadows {
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.sections {
  min-height: 50rem;
}

.list {
  font-family: 'Inconsolata';
}

 /* nav bar*/
.navegation {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10rem;
}

/* first section */
.first-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-screen {
  background-image: linear-gradient(to top right, #932cbb 25%, #0061bb 50%, transparent 50%);
}

.computer-img {
  width: 90%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.tittle {
  background-image: linear-gradient(to left, #311fdc 0%, #3213cf 25%, #3310aa 50%, #300881 100%);
  width: 90%;
  height: 6.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

#first-text {
  color: #e1e1e1;
  padding-right: 27%;
}

#btn-fs {
  color: #ffffff;
  border: 0.1rem solid #ffffff;
  width: 90%;
  margin: 0 1.2rem 0 1.1rem;
}

.tittle h1 {
  color: #e1e1e1;
  line-height: 90%;
}

.btn {
  width: 100%;
  height: 1.8rem;
  background-color: transparent;
  border-radius: 0.3rem;
  font-family: 'Inconsolata';
  font-weight: bold;
}

 /* second section*/
/*
.about-card-container {
  min-height: 75rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 3.7rem;
  padding-bottom: 3.1rem;
}
*/

.about {
min-height: 56.2rem;
}

.about-card-container {
  padding: 1.2rem 0 1.2rem 0;
  width: 100%;
  height: 41rem;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-padding: 0.7x;
  scroll-snap-align: start;
  overflow-x: scroll;
  gap: 1rem;
  border-radius: 0.4rem;
}

.about-card {
  background-image: linear-gradient(to top, #53b3be 0%, #3650d3 100%);
  min-width: 18rem;
  height: 28rem;
  border-radius: 0.6rem;
  margin-bottom: 10rem;
}

.align-about-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card-img{
  margin-top: 2rem;
  width: 10rem;
}

.about-card-img2 {
  margin-top: 5rem;
  width: 12rem;
}

.about-card-img3{
  margin-top: 1.5rem;
  width: 9.6rem;
}

.about-card h3 {
  text-align: center;
  color: #ffffff
}

.about-card p {
  color: #ffffff
}

.about-card .list li {
  color: #ffffff
}

/* third section*/
#list-certificate {
  font-size: 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.box-certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-certificate {
  background-color: transparent;
  border: 0.1rem solid #f4f4f4;
  font-family: 'Inconsolata';
  color: #1e1e1e;
}

.btn-certificate:hover {
  background-color: #5d4fe3;
  color: #e1e1e1; 
}

.certificate-img {
  width: 18.7rem;
  margin-bottom: 3.4rem;
}

.schools {
  margin: 1.8rem 0 1.8rem 0;
}

/* four section*/
.box-projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-img {
  width: 15rem;
}

.projects-card-container {
  width: 100%;
  height: 34.3rem;
  padding: 1.2rem;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-padding: 0.7x;
  scroll-snap-align: start;
  overflow-x: scroll;
  gap: 1.2rem;
  border-radius: 0.3rem;
}

.projects-card {
  background-color: #f4f4f4;
  width: 21.8rem;
  height: 31.2;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  text-align: center;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iframecard {
  width: 14.2rem;
}

.card-description {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-card {
  background-color: transparent;
  border: 0.1rem solid #1f74dc;
  color: #1e1e1e;
  font-family: 'Inconsolata';
}

.btn-project {
  background-color: #f4f4f4;
  margin: 2.8rem 0 2.8rem 0;
  border: transparent;
}

.btn-project:hover {
  background-color: #5d4fe3;
  color: #e1e1e1; 
}

/*six section*/
.social-img {
 width: 19rem; 
 margin-bottom: 2rem;
}

.social-card {
  margin-top: 3.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-buttons {
  min-height: 25rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 3rem;
}

.btn-contact {
  border: 0.1rem;
  height: 3.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1e1e1e;
}

.btn-contact:hover {
  background-color: #5d4fe3;
  color: #e1e1e1;
}

footer p {
  text-align: center;
}

@media (min-width: 576px) {

}

@media (min-width: 900px) {

}