@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@800&family=Inconsolata&display=swap');
/* gerenal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color:#1e1e1e;
  scroll-behavior: smooth;
}
/*
:root {

}
*/