@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@800&family=Inconsolata&display=swap');
/* gerenal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color:#1e1e1e;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

h1, h2, h3 {
  font-family: 'baloo da 2';
}

p{
  font-family: 'Inconsolata';
  font-size: 1.2rem;
}

/* placards*/

.placard {
  background-image: linear-gradient(to right, #311fdc 0%, #3213cf 25%, #3310aa 50%, #300881 100%);
  width: 100%;
  height: 50px;
  color: #ffffff;
  font-family: 'baloo da 2';
  color: #ffffff;
  font-size: 1.4rem;
  padding-top: 5px;
  padding-bottom: 5px;
  word-spacing: 10px;
}


.padding10 {
  padding-left: 10%;
  padding-right: 10%;
}

.border-gradient {
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, #311fdc, #300881) 1;
}

.lime-gradient {
  background-image: linear-gradient(to right, #d3ff55 0%, #57ff2a 100%);
  width: 100%;
}

.shadows {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sections {
  min-height: 800px;
}

 /* nav bar*/
.navegation {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10rem;
}

/* first section */
.first-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-screen {
  background-image: linear-gradient(to top right, #932cbb 25%, #0061bb 50%, transparent 50%);
}

.computer-img {
  width: 90%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.tittle {
  background-image: linear-gradient(to left, #311fdc 0%, #3213cf 25%, #3310aa 50%, #300881 100%);
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

#first-text {
  color: #e1e1e1;
  padding-right: 27%;
}

#btn-fs {
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 90%;
  margin: 0 20px 0 20px;
}

.tittle h1 {
  color: #e1e1e1;
  line-height: 90%;
}

.btn {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
}

 /* second section*/
.about {
  margin-bottom: 0px;
}

.about-card-container {
  min-height: 1200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 50px;
}

.align-about-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  background-image: linear-gradient(to top, #53b3be 0%, #3650d3 100%);
  max-width: 350px;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 160px;
}

.about-card h3 {
  text-align: center;
  color: #ffffff
}

.about-card p {
  color: #ffffff
}

.about-card .list li {
  color: #ffffff
}

.list {
  font-family: 'Inconsolata';
}

.about-card-img{
  margin-top: 100px;
  width: 160px;
}

.about-card-img2{
  margin-top: 50px;
  width: 155px;
}

/* third section*/
#list-certificate {
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

.box-certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-certificate {
  background-color: transparent;
  border: 2px solid #57ff2a;
  color: #1e1e1e;
}

.certificate-img {
  width: 300px;
  margin-bottom: 3.4rem;
}

.schools {
  margin: 30px 0 30px 0;
}

/* four section*/
.box-projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-img {
  width: 240px;
}

.projects-card-container {
  padding: 20px;
  width: 100%;
  height: 550px;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-padding: 12px;
  scroll-snap-align: start;
  overflow-x: scroll;
  gap: 20px; 
}

.projects-card {
width: 350px;
height: 500px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
text-align: center;
scroll-snap-align: start;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.iframecard {
height: 55%;
}

.card-description {
height: 45%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.btn-card {
  background-color: transparent;
  border: 2px solid #57ff2a;
  color: #1e1e1e;
}

.btn-project {
  background-color: transparent;
  border: 2px solid #311fdc;
  margin: 45px 0 45px 0;
}

footer p {
  text-align: center;
}